[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/colors-molokai"]
	path = bundle/colors-molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/colors-vividchalk"]
	path = bundle/colors-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/colors-wombat256"]
	path = bundle/colors-wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/colors-jellybeans"]
	path = bundle/colors-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/colors-hemisu"]
	path = bundle/colors-hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-textobj-line"]
	path = bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "bundle/vim-ruby-xmpfilter"]
	path = bundle/vim-ruby-xmpfilter
	url = https://github.com/t9md/vim-ruby-xmpfilter.git
[submodule "bundle/vim-textobj-indent"]
	path = bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-seek"]
	path = bundle/vim-seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "bundle/vim-rbenv"]
	path = bundle/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-delimitMate"]
	path = bundle/vim-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/LearnVim"]
	path = bundle/LearnVim
	url = https://github.com/dahu/LearnVim.git
[submodule "bundle/vim-switch"]
	path = bundle/vim-switch
	url = https://github.com/AndrewRadev/switch.vim
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
